<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.helenacorp.android.mybibliotheque">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/icon_mybooks"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBase">
        <meta-data
            android:name="com.google.android.book.API_KEY"
            android:value="@string/google_key" />

        <meta-data
            tools:replace="android:value"
            android:name="android.support.VERSION"
            android:value="26.1.0" />

        <activity
            android:name=".MainLoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".SubmitBookActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ViewListBooksActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helenacorp.android.mybibliotheque.ViewListBooksActivity" />
        </activity>
        <activity
            android:name=".SimpleScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BaseScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ViewListBooksActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            tools:targetApi="jelly_bean">

        </activity>
        <activity
            android:name=".ChatActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data
                android:host="mybibliotheque-46d02.firebaseio.com/"
                android:scheme="http"
                android:pathPrefix="/message"/>
            </intent-filter>
        </activity>
        <activity android:name=".Chat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>
        <activity android:name=".UI.CustomActivity"/>
        <activity android:name=".UserList"/>
        <activity android:name=".ChattApp"/>

        <service
            android:name="service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="service.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>